.page2 .carousel {
	height: 600px;
	overflow: hidden;
}
/* Since positioning the image, we need to help out the caption */
.page2 .carousel-caption {
	z-index: 10;
}
/* Declare heights because of positioning of img element */
.page2 .carousel .item {
	/* toConfirm height: 500px;*/
	height: 800px;
	background-color: #777;
}

.page2 .glyphicon-chevron-right {
	font: normal normal normal 14px/1 FontAwesome;
}

.page2 .carousel-inner>.item>img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%
}

.page2 .carousel-indicators {
	top: 25px !important;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.page2 .container.marketing {
	margin-top: -40px;
	padding-left: 10px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
}
.coursel-container{
	width:100%;
	padding:0px;
}
/* Center align the text within the three columns below the carousel */
.page2 .marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.page2 .marketing h2 {
	font-weight: normal;
}

.page2 .marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */
.page2 .featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.page2 .featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Bump up size of carousel content */
.page2 .carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
}

.page2 .featurette-heading {
	font-size: 50px;
}

}
@media ( min-width : 992px) {
	.page2 .featurette-heading {
		margin-top: 120px;
	}
}