@CHARSET "UTF-8";

/* ====================================== Logo */
/*
#logo a.brand {
    font-family: Lobster;
    line-height: 50px;
    font-weight: 400;
    font-style: normal;
    color: #81d742;
    font-size: 42px;
    padding-right: 50px;
    text-decoration: none;
}*/

[data-publish='off'] > *:not(.css_options) {
    opacity: 1;
}

#slogan {
	padding-left: 100px;
	text-transform: uppercase;
	font-size: 22px;
}

div#logo {
	margin-left: 5%;
	z-index: 1050;
	position: fixed;
	top: 10px;
}

img#img-logo {
	max-width: 90px;
}

.home {
	background-color: black;
}

#mini-logo {
	max-width: 100px;
	padding-bottom: 10px;
}

#logo-footer a.brand {
	font-family: Lobster;
	line-height: 50px;
	font-weight: 400;
	font-style: normal;
	color: #81d742;
	font-size: 32px;
	padding-right: 50px;
	text-decoration: none;
}

/* ====================================== Body */
.marketing .col-md-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing .col-md-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing .col-sx-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing .col-xs-4 {
	margin-bottom: 20px;
	text-align: center;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

.margin-bottom-90 {
	margin-bottom: 90px;
}

.margin-bottom-140 {
	margin-bottom: 140px;
}

/* ====================================== titolo nel body */
.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dashed #c6c6c6;
}

.headline h2, .headline h3, .headline h4 {
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
	/*border-bottom: 2px solid #81d742;   737373  */
	border-bottom: 2px solid #AFAFAF;
}

.headline h2 {
	font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
	color: #23527c;
	margin-top: 5px;
	text-shadow: none;
	font-weight: normal;
	font-family: "Open Sans", Arial, sans-serif;
}

/* ====================================== latest from blog */
.thumbnail-style {
	padding: 7px;
	margin-bottom: 20px;
}

.thumbnail-style:hover {
	background-color: #FFF;
	box-shadow: 0 0 8px #ddd;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.thumbnail-style .thumbnail-img {
	position: relative;
	margin-bottom: 11px;
}

.overflow-hidden {
	overflow: hidden;
}

.thumbnail-kenburn img {
	left: 10px;
	margin-left: -10px;
	position: relative;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.thumbnail-style a.btn-more {
	right: -10px;
	/*bottom: 10px;*/
	top: 20px;
	color: #fff;
	padding: 1px 6px;
	position: absolute;
	background: #AFAFAF; /* #81d742;*/
	display: inline-block;
}

.thumbnail-style a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #5fb611;
}

.hover-effect {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

a, a:focus, a:hover, a:active {
	outline: 0 !important;
}

a {
	/*color: #AFAFAF;  #81d742; */
	text-decoration: none;
	color: #000;
}

/* ====================================== Footer v1 */
.footer-v1 .footer {
	padding: 40px 0;
	background: #424242;
}

.footer-v1 p {
	color: #eee;
}

.footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/* ====== information list */
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.link-list li:first-child {
	border-top: none !important;
}

.link-list a {
	color: #eee;
	font-size: 11px;
	padding: 6px 0px;
	display: inline-block;
	text-transform: uppercase;
}

.link-list li i {
	color: #bbb;
	float: right;
	margin-top: 10px;
}

/* ====== Contact us */
.footer-v1 .footer .map-img {
	background: url(./img/map-img.png) 5px 60px no-repeat;
}

/* ====== Last Blog */
.latest-list li:first-child {
	padding-top: 0;
	border-top: none;
}

.latest-list li {
	padding: 8px 0;
}

.latest-list li a {
	color: #eee;
}

.latest-list small {
	color: #999;
	display: block;
}

/* ====================================== Copyright */
.footer-v1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color: #777;
	font-size: 16px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

/* ====================================== Search products */
.products_pager {
	text-align: center;
}

.products_pager>div {
	margin: 0 auto;
	display: inline-block;
}

.products_pager>div>* {
	vertical-align: middle;
	float: none;
	padding: 0;
}

@media ( min-width : 768px) .navbar-default {
	padding
	:
	 
	14
	px
	 
	0;
	border
	:
	 
	0;
	background-color
	:
	 
	transparent
	;
	
    
	-webkit-transition
	:
	 
	padding
	 
	.3s
	;
	
    
	-moz-transition
	:
	 
	padding
	 
	.3s
	;
	
    
	transition
	:
	 
	padding
	 
	.3s
	;
	

}

.navbar-static-top {
	min-height: 20px;
	margin-bottom: 0px;
}

@media ( min-width : 768px) .navbar-static-top {
	border-radius
	:
	 
	0;
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}

#wrapwrap>* {
	display: table-row;
}

@media ( min-width : 768px) .navbar-default.navbar-shrink {
	padding
	:
	 
	10
	px
	 
	0;
	background-color
	:
	 
	#FFFFFF
	;
	

}

.navbar-shrink {
	width: 100%;
	position: fixed;
	padding: 10px 0;
	background-color: #FFFFFF;
	top: 0;
}

@media ( min-width : 768px) .navbar-default {
	padding
	:
	 
	14
	px
	 
	0;
	border
	:
	 
	0;
	background-color
	:
	 
	transparent
	;
	
    
	-webkit-transition
	:
	 
	padding
	 
	.3s
	;
	
    
	-moz-transition
	:
	 
	padding
	 
	.3s
	;
	
    
	transition
	:
	 
	padding
	 
	.3s
	;
	

}

.navbar-static-top {
	min-height: 20px;
	margin-bottom: 0px;
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px;
}

/* ====================================== Display products */
.oe_product {
	position: relative;
	background-color: white;
}

.oe_product {
	border: 1px solid rgba(100, 100, 100, 0.2);
}

td {
	min-width: 20px;
}

td, th {
	padding: 0;
}

.oe_product {
	border: 1px solid rgba(100, 100, 100, 0.2);
	padding: 3px;
}

.oe_product {
	position: relative;
}

.oe_product .oe_product_cart {
	position: relative;
	width: 100%;
	height: 100%;
}

.oe_product .ribbon-wrapper {
	/*display: none;*/
	width: 85px;
	height: 88px;
	z-index: 5;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.oe_product .ribbon {
	font: bold 15px Sans-Serif;
	color: white;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	cursor: default;
}

.product_price {
	float: right;
}

.badge {
	background-color: #FA0000;
}

.categ {
	padding: 10px;
}

.category {
	padding: 70px;
	margin-bottom: 70px
}

.category img {
	height: 170px;
	max-width: 194px;
}

.show_product {
	display: none;
}

.image_categ {
	margin-left: 40px
}

.category a {
	color: #c34545;
}

.categ_name {
	background-color: #e7e7e7;
	padding: 5px;
}

.categ:hover, .oe_product:hover {
	background-color: #FFF;
	box-shadow: 0 0 8px #ddd;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.shop_categ {
	margin-top: 20px
}

.categ_prod {
	border-bottom: 2px solid #babdb6;
	padding-bottom: 15px;
	padding-left: 60px;
	width: 20%;
	color: #000;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: #000;
	background-color: #fff;
}

#products_grid_before {
	padding-left: 40px;
}

#products_grid_before .mt16 {
	margin-top: 7px !important;
}

.oe_product .oe_product_image {
	left: -6px !important;
	top: 0px !important;
	bottom: 52px !important;
}

.oe_product {
	border: none !important;
	padding: 10px !important;
}

.oe_product section {
	left: -7px !important;
	
	padding-bottom: 5px;
	    bottom: -39px !important;
}

.product_price b {
	font-weight: inherit;
}

.oe_product section img {
	width: 28px;
}
.oe_product section .col-xs-3 {
	padding-left:0;
	margin-left:0;
	padding-left: 2px ;
}
.oe_product section .row {
	
	margin-left: -3px;
	margin-right: -7px;
}
.oe_product .product_price {
	padding-left: 11px !important;
	padding-bottom: 1px !important;
	position: initial !important;
	border-bottom: 1px solid #babdb6;
	float: left;
}
